<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="timeout" value="10000"/>
    <add key="log4net" value="log4net.config"/>
  </appSettings>
</configuration>